#LISTOFSamples = data/listOfSamplesAndCrossSections_SIGNAL_EGMu.txt
#LISTOFSamples = data/listOfSamplesAndCrossSections_DATA_EGMu.txt
#LISTOFSamples = data/listOfSamplesAndCrossSections_MC_EGMu.txt
LISTOFSamples = data/listOfSamplesAndCrossSections_ALL_EGMu.txt

JOBCfgTemplate = cfg/selections_VBFPreselection_EGMu_template.cfg



EXEName = VBFPreselection.exe

OUTPUTFILEName = VBFPreselection

JOBModulo = 10

JETAlgorithm = AK5PF
JETType = PF

#JETAlgorithm = AK5Calo
#JETType = Calo



INPUTSAVEPath = /gwterax2/users/amassiro/MiBiCommonNT/Fall10_Dec10/

OUTPUTSAVEPath = /gwtera6/users/benaglia/NTUPLES/Fall10/VBFPreselection_EGMu_L2L3Ak5PFJets/
#OUTPUTSAVEPath = /gwtera6/users/benaglia/NTUPLES/Fall10/VBFPreselection_EGMu_L2L3Ak5CaloJets/
