[Input]
jetAlgorithm = AK5PF

baseDir = /grid_mnt/vol__vol1__u/llr/cms/abenagli/COLLISIONS7TeV/Fall10/VBFAnalysisPackage/

inputFileName = VBFAnalysis

samplesListFile = listOfSamplesAndCrossSections_Spring11_ALL_Mu.txt

inputDir = /grid_mnt/vol__vol1__u/llr/cms/abenagli/COLLISIONS7TeV/Fall10/VBFAnalysisPackage/data/VBFAnalysis_AK5PF_H170_ET30_maxDeta_minDeta_Spring11_Mu/
#inputDir = /grid_mnt/vol__vol1__u/llr/cms/abenagli/COLLISIONS7TeV/Fall10/VBFAnalysisPackage/data/VBFAnalysis_AK5PF_H400_ET30_maxDeta_minDeta_Spring11_Mu/



[Options]
imgFormat = png

method = eventsScaled
#method = sameAreaStack
#method = sameAreaNoStack
#method = integral

jetType = PF
#jetType = Calo

step = 11
lumi = 186.88
