[Input]
jetAlgorithm = PFlow

baseDir = /gwpool/users/benaglia/COLLISIONS7TeV/Fall10/VBFAnalysisPackage/

inputFileName = VBFAnalysis



inputDir = /gwteraz/users/benaglia/data/Fall11/EGMu/VBFAnalysis_PFlow_allH_PT30_maxSumPt_maxDeta_Fall11_EGMu_Run2011AB/

samplesListFile = listOfSamplesAndCrossSections_Fall11_HHIGGSMASS_EGMu.txt

higgsMass = HIGGSMASS


[Output]
outputDir = HHIGGSMASS/



[Options]
imgFormat = pdf
PURescale = true
weightEvent = true
stackSig = false
higgsMassCut = false

method = eventsScaled
#method = sameAreaStack
#method = sameAreaNoStack
#method = integralNoStack
#method = integralStack

jetType = PF

step = 14
lumi = 4.23670
